:root {
  --color-primary: #0ec0c0;
  --d1: 0.33333em;
  --d2: calc(var(--d1) * 2);
  --d3: calc(var(--d1) * 3);
  --d4: calc(var(--d1) * 4);
  --d5: calc(var(--d1) * 5);
  --border-radius: 0.5em;
}

body {
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
}

#header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: var(--d2);
}

#header h1 {
  flex-basis: 100%;
  background-color: #072747;
  background-image: url("./assets/images/logo.png");
  background-repeat: no-repeat;
  background-size: 140px, auto;
  background-position: left var(--d2) center;
  color: white;
  font-weight: bold;
  padding: var(--d2);
  margin: 0px 0px var(--d1) 0px;
}

#help-button {
  position: absolute;
  right: var(--d3);
  top: var(--d2);
  color: white;
  background: var(--color-primary);
  border-radius: 50%;
  padding: var(--d2);
  width: var(--d3);
  height: var(--d3);
  font-size: larger;
  cursor: pointer;
}

@media only screen and (max-width: 980px) {
  #header h1 {
    height: 80px;
    background-position: center top var(--d1);
    display: flex;
    flex-flow: column-reverse;
  }
}

button {
  margin: 0px var(--d2);
  padding: var(--d1) var(--d3);
  border-radius: var(--border-radius);
  border: 1px solid #d1d5db;
  font-size: large;
  background-color: white;
  color: #000;
  cursor: pointer;
}

button.primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: #f3f4f6;
}

button:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: white;
}

label {
  font-size: large;
}

select {
  padding: var(--d1) var(--d1);
  border: 1px solid #d1d5db;
  border-radius: var(--border-radius);
  font-size: large;
}

.mobile button {
  padding: var(--d2) var(--d4);
  font-size: x-large;
}

.mobile select {
  padding: var(--d2) var(--d1);
}

/* Game Components */

#game {
  display: flex;
  flex-wrap: wrap;
  padding: 0px var(--d5);
  gap: 1em;
}

#visualization {
  flex: 1 1 auto;
  border: 1px solid #d1d5db;
  border-radius: var(--border-radius);
  padding: var(--d2) var(--d2);
  min-width: 40vw;
}

#svgMaze {
  overflow: hidden;
  display: block;
  margin: auto;
  height: 60vh;
  min-height: 30vh;
}

.mobile #svgMaze {
  height: 40vh;
}

#capacityBubble {
  display: flex;
  margin: var(--d2) 0px;
}

#capacity {
  color: #fff;
  padding: var(--d1) 1em;
  border-radius: 16px;
  background-color: rgba(64, 64, 64, 0.7);
  font-size: large;
  margin: auto;
}

.mobile #capacity {
  font-size: x-large;
}

.capacityNumber {
  font-weight: bold;
}

#visualization .button-group {
  text-align: center;
  vertical-align: middle;
}

#toolbox {
  display: none;
}

#blockly {
  flex: 12 1 auto;
  padding: var(--d2);
  border: 1px solid #d1d5db;
  border-radius: var(--border-radius);
  min-width: 47vw;
  min-height: 75vh;
}

.mobile #blockly {
  min-height: 45vh;
}

#blockly .blocklyBlockCanvas, #blockly .blocklyDraggable, #blockly .blocklySvg .blocklyDraggable path {
  display: inline-block !important;
}

.mobile .blocklyMenuItem {
  font-size: x-large;
}

/* 'Look' icon */
#look > path {
  display: none;
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-opacity: 0.7;
}

/* Buttons */
button > img {
  opacity: 0.6;
  vertical-align: text-bottom;
}

button:hover:not(:disabled) > img {
  opacity: 1;
}

/* Dialogs */
#dialog {
  visibility: hidden;
  background-color: white;
  color: #1f2937;
  border: 1px solid #d1d5db;
  position: absolute;
  border-radius: var(--border-radius);
  padding: var(--d2);
}

#dialogBorder {
  visibility: hidden;
  position: absolute;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: var(--border-radius);
}

#dialogShadow {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}

.dialogAnimate {
  transition-property: width height left top opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.dialogHiddenContent {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.dialog-text {
  font-size: large;
  margin: 1em;
}

#dialog .farSide {
  text-align: right;
  padding: 1ex;
}

#dialog button {
  min-width: 4em;
}

.dialog h1 {
  font-size: large;
  margin: 1em;
}

.mobile .dialog-text, .mobile .dialog h1 {
  font-size: x-large;
}

#dialog {
  width: 40%;
  left: 30%;
  top: 3em;
}

.blocklyMainBackground {
  stroke: none;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(./assets/images/icons.png);
}
.stop {
  background-position: -42px 0;
}
.run {
  background-position: -63px 0;
}
