:root {
  --color-primary: #0ec0c0;
  --d1: 0.33333em;
  --d2: calc(var(--d1) * 2);
  --d3: calc(var(--d1) * 3);
  --d4: calc(var(--d1) * 4);
  --d5: calc(var(--d1) * 5);
  --border-radius: 0.5em;
}

body {
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
}

#header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: var(--d2);
}

#header h1 {
  flex-basis: 100%;
  background-color: #072747;
  background-image: url("./assets/images/logo.png");
  background-repeat: no-repeat;
  background-size: auto, 200px;
  background-position: left var(--d2) center;
  color: white;
  font-weight: bold;
  padding: var(--d2);
  margin: 0px 0px var(--d1) 0px;
}

@media only screen and (max-width: 980px) {
  #header h1 {
    height: 80px;
    background-position: center top var(--d1);
    display: flex;
    flex-flow: column-reverse;
  }
}

button {
  margin: 0px var(--d2);
  padding: var(--d1) var(--d3);
  border-radius: var(--border-radius);
  border: 1px solid #d1d5db;
  font-size: large;
  background-color: white;
  color: #000;
}

button.primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: #f3f4f6;
}

button:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: white;
}

label {
  font-size: large;
}

select {
  padding: var(--d2) var(--d1);
  border: 1px solid #d1d5db;
  border-radius: var(--border-radius);
  font-size: large;
}

/* Game Components */

#game {
  display: flex;
  flex-wrap: wrap;
  padding: 0px var(--d5);
  gap: 1em;
}

#visualization {
  flex: 1 1 auto;
  border: 1px solid #d1d5db;
  border-radius: var(--border-radius);
  padding: var(--d2) var(--d2);
  min-width: 600px;
}

#svgMaze {
  overflow: hidden;
  display: block;
  margin: auto;
  height: 60vh;
  min-height: 300px;
}

#capacityBubble {
  display: flex;
  margin: var(--d2) 0px;
}

#capacity {
  color: #fff;
  padding: var(--d1) 1em;
  border-radius: 16px;
  background-color: rgba(64, 64, 64, 0.7);
  font-size: large;
  margin: auto;
}

.capacityNumber {
  font-weight: bold;
}

#visualization .button-group {
  text-align: center;
  vertical-align: middle;
}

#toolbox {
  display: none;
}

#blockly {
  flex: 12 1 auto;
  padding: var(--d2);
  border: 1px solid #d1d5db;
  border-radius: var(--border-radius);
  min-width: 600px;
  min-height: 400px;
}

#sampleOneTopBlock {
  height: 80px;
  width: 250px;
}

.helpMenuFake {
  border-radius: var(--border-radius);
  background-color: #bfcdde;
  color: #000;
  padding: 0 var(--d1);
  cursor: default;
}

img[src$="help_up.png"] {
  margin: -20px 10px 0;
  height: 64px;
  width: 23px;
}

img[src$="help_down.png"] {
  margin: 0 10px -20px;
  height: 64px;
  width: 23px;
}

/* 'Look' icon */
#look > path {
  display: none;
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-opacity: 0.7;
}

a:focus,
a:hover {
  color: #f00;
}

#header_cta > * {
  vertical-align: middle;
}

#containerCode {
  direction: ltr;
  background-color: #eee;
  padding: var(--d1);
  margin: 0 3ex;
  font-size: large;
  overflow: auto;
  max-height: 200px;
}

img[src$="help.png"] {
  height: 64px;
  width: 64px;
}

/* Buttons */
button.secondary {
  border: 1px solid #4d90fe;
  background-color: #4d90fe;
  color: white;
}

button.primary > img,
button.secondary > img {
  opacity: 1;
}

button > img {
  opacity: 0.6;
  vertical-align: text-bottom;
}

button:hover:not(:disabled) > img {
  opacity: 1;
}

/* Dialogs */
#dialog {
  visibility: hidden;
  background-color: white;
  color: #1f2937;
  border: 1px solid #d1d5db;
  position: absolute;
  border-radius: var(--border-radius);
  padding: var(--d2);
}

#dialogBorder {
  visibility: hidden;
  position: absolute;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: var(--border-radius);
}

#dialogShadow {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}

.dialogAnimate {
  transition-property: width height left top opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.dialogHiddenContent {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#dialogDoneText {
  font-size: large;
  margin: 1em;
}

#dialog .farSide {
  text-align: right;
  padding: 1ex;
}

#dialog button {
  min-width: 4em;
}

.dialog h1 {
  font-size: large;
  margin: 1em;
}

.blocklyMainBackground {
  stroke: none;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(./assets/images/icons.png);
}
.link {
  background-position: 0 0;
}
.camera {
  background-position: -21px 0;
}
.stop {
  background-position: -42px 0;
}
.run {
  background-position: -63px 0;
}
.gallery {
  background-position: -63px -21px;
}
.close {
  background-position: -42px -42px;
}
